.fc *, .fc *:before, .fc *:after {
  box-sizing: border-box
}
.fc {
  background-color: #fff;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
.fc-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  height: calc(100% - 2.5rem);
  position: absolute;
  overflow: scroll;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.fc-week {
  display: flex;
  background-color: #EAEDF2;
  font-weight: bold;
  height: 2.5rem;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}
.fc-month {
  padding: 1rem 0;
  text-align: center;
  flex-basis: 100%;
}
.fc-week b, .fc-day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex: 0 0 14.2857%;
  max-width: 14.2857%;
}
.fc-day {
  background-color: #fff;
  font-style: normal;
  position: relative;
  padding: 1rem 0;
  margin: .25rem 0 calc(.25rem + 1px);
  cursor: pointer;
}
.fc-day-selected {
  background-color: #2165FF;
  border-radius: .5rem;
  padding: 1.25rem 0;
  margin: 0 0 1px;
  color: #fff;
}
.fc-day-disabled {
  cursor: not-allowed;
  color: #B1B7BF;
}
.fc-day-from, .fc-day-to {
  position: absolute;
  font-style: normal;
  font-size: .85rem;
  top: 2.5rem;
}
.fc-range-from {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.fc-range-to {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.fc-range { background: #E5EEFF }

.fc-tip { position: relative }
.fc-tip:after, .fc-tip:before {
  position: absolute;
  pointer-events: none;
  transition: .3s ease;
  border-radius: .3rem;
  z-index: 100;
  bottom: 100%;
  left: 50%
}
.fc-tip:before {
  content: '';
  background: 0 0;
  border: 6px solid transparent;
  border-top-color: #383838;
  margin-bottom: -11px;
  left: calc(50% - 6px);
  transform: translateY(-8px);
  z-index: 101;
}
.fc-tip:after {
  background: #383838;
  color: #fff;
  padding: .5rem .65rem;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  transform: translateX(-50%) translateY(-8px)
}
.fc-tip[title]:after {
  content: attr(title)
}
